@import "./reset.css";

body {
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;
    color: #fff;
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
    min-width: 1200px;
    overflow: hidden;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.bg>video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header {
    height: 120px;
    line-height: 120px;
    font-size: 16px;
}

.header-left {
    float: left;
    height: 100%;
    margin-left: 80px;
}

.header-left a {
    display: block;
    height: 100%;
}

.header-left>a>img {
    vertical-align: middle;
}

.header-right {
    height: 100%;
    float: right;
    margin-right: 150px;
}

.header-right>ul {
    height: 100%;
}

.header-right>ul>li {
    height: 100%;
    float: left;
    margin-left: 25px;
}

.header-right>ul>li a {
    color: #fff;
    vertical-align: middle;
}

.header-right>ul>li img {
    vertical-align: middle;
}

.header-right>ul>li .sound { 
    width: 18px;
    height: 18px;
    background-image: url("//s3.pstatp.com/aweme/resource/web/static/image/index/unmute_cc0edda.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.article {
    position: absolute;
    right: 150px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 50px;
}

.article>img {
    width: 450px;
    margin-bottom: 50px;
}

.article a {
    display: inline-block;
    width: 130px;
    height: 50px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 10px;
    box-shadow: 1px 1px 7px 2px rgba(0,0,0,.54);
    float: right;
}

.article a:last-of-type {
    background-image: url("//s3.pstatp.com/aweme/resource/web/static/image/index/appstore_0aecd08.png")
}

.article a:nth-of-type(2) {
    background-image: url("//s3.pstatp.com/aweme/resource/web/static/image/index/android_088aebd.png")
}

.article a:first-of-type {
    width: 50px;
    position: relative;
    background-image: url("//s3.pstatp.com/aweme/resource/web/static/image/index/download_476d015.png")
}

.article .qr {
    width: 222px;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    transform: scale(0.23);
    transform-origin: top right;
}

.article .qr:hover {
    opacity: 1;
    transform: scale(1);
}

.footer {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10px;
}

.footer .nav {
    margin-bottom: 16px;
}

.footer .nav span, .footer .nav a {
    padding: 0 5px;
}

.footer .feedback-info p {
    line-height: 25px;
}

.footer .feedback-info p img {
    vertical-align: middle;
    margin-right: -5px;
}